[Unit]
Description="Homecontrol app"
After=network.target

[Service]
User=ahs
RuntimeDirectory=homecontrol
WorkingDirectory=/home/ahs/src/homecontrol
ExecStart=/home/ahs/.virtualenvs/homecontrol/bin/python run.py config.yaml

[Install]
WantedBy=multi-user.target
